In [62]:
import numpy as np
import pandas as pd
from collections import Counter
from itertools import combinations

In [63]:
data = pd.read_csv('movie_bd_v5.xls')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
363,tt1232783,12500000,27206120,Sorority Row,Rumer Willis|Briana Evigan|Jamie Chung|Leah Pi...,Stewart Hendler,The Sisters of Theta Pi Are Dying To Keep a Se...,When five sorority girls inadvertently cause t...,101,Horror|Mystery|Thriller,Summit Entertainment|Karz Entertainment,9/9/2009,5.3,2009
1458,tt0414982,25000000,117719158,Final Destination 3,Mary Elizabeth Winstead|Ryan Merriman|Kris Lem...,James Wong,This Ride Will Be The Death Of You.,A student's premonition of a deadly rollercoas...,93,Horror|Mystery,New Line Cinema|Zide-Perry Productions|Kumar M...,2/10/2006,5.8,2006
1772,tt0762114,35000000,69307224,License to Wed,Robin Williams|Mandy Moore|John Krasinski|Eric...,Ken Kwapis,First came love... then came Reverend Frank.,"Newly engaged, Ben and Sadie can't wait to sta...",91,Comedy,Village Roadshow Pictures|Warner Bros. Picture...,7/4/2007,5.1,2007
1408,tt0361089,35000000,19478106,Valiant,Ewan McGregor|Ricky Gervais|Tim Curry|Jim Broa...,Gary Chapman,"Some pigeons eat crumbs, others make history.",The animated comedy tells the story of a lowly...,76,Animation|Family|Adventure,Vanguard Films|Scanbox,3/25/2005,5.3,2005
600,tt0910970,180000000,521311860,WALLÂ·E,Ben Burtt|Elissa Knight|Jeff Garlin|Fred Willa...,Andrew Stanton,An adventure beyond the ordinar-E.,WALLÂ·E is the last robot left on an Earth tha...,98,Animation|Family,Walt Disney Pictures|Pixar Animation Studios,6/22/2008,7.6,2008

In [64]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [65]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...
#data.info()
#data.budget.unique()
#data.runtime.unique()
data['profit'] = data['revenue'] - data['budget']
data['cast'] = data.cast.apply(lambda x: x.split('|'))
data['genres'] = data.genres.apply(lambda x: x.split('|'))
data['director'] = data.director.apply(lambda x: x.split('|'))
release_data_split = data.release_date.apply(lambda x: x.split('/'))
data['month'] = release_data_split.apply(lambda x: x[0])


def mask_year(year):
    
    if 2012<=year<=2014:
        x=True
    else:
        x = False
        
    return x

def uniq_values(column_name,data,sep='|'):
    # Функция, которая выдает список уникальных жанров, встречающихся в датафрейме
    # data в столбце с менем column_name с разделителем |
    
    unique_value = []
    for current_row in data[column_name].unique():
        for current_value in current_row.split(sep):
            if current_value not in unique_value:
                unique_value.append(current_value)
                
    return unique_value

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [66]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [67]:
# тут пишем ваш код для решения данного вопроса:
display(data[data.budget == data.budget.max()])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,"[Johnny Depp, PenÃ©lope Cruz, Geoffrey Rush, I...",[Rob Marshall],Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,"[Adventure, Action, Fantasy]",Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000,5

ВАРИАНТ 2

In [68]:
display(data[data.budget == max(data.budget.unique())][['original_title','imdb_id','budget']])

                                  original_title    imdb_id     budget
723  Pirates of the Caribbean: On Stranger Tides  tt1298650  380000000

# 2. Какой из фильмов самый длительный (в минутах)?

In [69]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111)'

In [70]:
display(max(data.runtime.unique())) # Проверка, что 214 - самый длинный
display(data[data.runtime == data.runtime.max()])

214

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
1157,tt0279111,56000000,12923936,Gods and Generals,"[Stephen Lang, Jeff Daniels, Robert Duvall, Ke...",[Ronald F. Maxwell],The nations heart was touched by...,The film centers mostly around the personal an...,214,"[Drama, History, War]",Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064,2

# 3. Какой из фильмов самый короткий (в минутах)?

In [71]:
display(min(data.runtime.unique()))
display(data[data.runtime == data.runtime.min()][['original_title','imdb_id','runtime']])
answers['3'] = 'Winnie the Pooh (tt1449283)'

63

      original_title    imdb_id  runtime
768  Winnie the Pooh  tt1449283       63

# 4. Какова средняя длительность фильмов?

In [72]:
print(round(data.runtime.mean())) # или посмотреть mean runtime выше в describe()
answers['4'] = '110'

110

# 5. Каково медианное значение длительности фильмов?

In [73]:
print(round(data.runtime.median())) # или посмотреть 50% runtime выше в describe()
answers['5'] = '107'

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [74]:
# лучше код получения столбца profit вынести в Предобработку что в начале
display(max(data.profit.unique()))
display(data[data.profit == data.profit.max()][['original_title','imdb_id','profit']])
answers['6'] = 'Avatar (tt0499549)'

2544505847

    original_title    imdb_id      profit
239         Avatar  tt0499549  2544505847

# 7. Какой фильм самый убыточный?

In [75]:
display(min(data.profit.unique()))
display(data[data.profit == data.profit.min()][['original_title','imdb_id','profit']])
answers['7'] = 'The Lone Ranger (tt1210819)'

-165710090

       original_title    imdb_id     profit
1245  The Lone Ranger  tt1210819 -165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [76]:
print(data[data.profit > 0].original_title.count())

# or
print(data[data.budget < data.revenue].original_title.count())

answers['8'] = '1478'

1478
1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [77]:
data_2008 = data[data.release_date.str.contains('2008')] 
# здесь и далее можно использовать условие data.release_year == 2008
# если кассовый по прибыли
display(data_2008[data_2008.profit == data_2008.profit.max()][['original_title','imdb_id','profit','revenue']])
# если кассовый по сборам
display(data_2008[data_2008.revenue == data_2008.revenue.max()][['original_title','imdb_id','profit','revenue']])

answers['9'] = 'The Dark Knight (tt0468569)'

      original_title    imdb_id     profit     revenue
599  The Dark Knight  tt0468569  816921825  1001921825

      original_title    imdb_id     profit     revenue
599  The Dark Knight  tt0468569  816921825  1001921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [78]:
min_profit = data[data.release_year.apply(mask_year)].profit.min()
display(data[data.profit == min_profit][['original_title','imdb_id','release_date','profit','revenue']])

answers['10'] = 'The Lone Ranger (tt1210819)'

       original_title    imdb_id release_date     profit   revenue
1245  The Lone Ranger  tt1210819     7/3/2013 -165710090  89289910

# 11. Какого жанра фильмов больше всего?

In [79]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

display(data['genres'].explode().value_counts())
answers['11'] = 'Drama'

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres, dtype: int64

ВАРИАНТ 2

In [80]:
data_withot_split = pd.read_csv('movie_bd_v5.xls')

# Список уникальных жанров
unique_gender = uniq_values('genres',data_withot_split)

index_df = []
row_df = []
for current_gender in unique_gender:
    index_df.append(current_gender)
    # количество фильмов с текущем жанром
    row_df.append(data_withot_split[data_withot_split['genres'].str.contains(current_gender)].original_title.nunique())

# датафрейм, у которого строки - жары, значения в столбце - количество фильмов с тим жанром
frecuency_gender = pd.DataFrame(row_df, index=index_df, columns=['Frec'])
display(frecuency_gender)
display(frecuency_gender[frecuency_gender.Frec == frecuency_gender.Frec.max()])

                 Frec
Action            581
Adventure         414
Science Fiction   247
Thriller          595
Fantasy           222
Crime             315
Western            19
Drama             782
Family            260
Animation         139
Comedy            683
Mystery           167
Romance           308
War                58
History            62
Music              64
Horror            176
Documentary         8
Foreign             2

       Frec
Drama   782

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [81]:
display(data[data.profit>0].genres.explode().value_counts())
answers['12'] = 'Drama'

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: genres, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [82]:
data_directore_explode = data.explode('director')
grouped_by_director = data_directore_explode.groupby(['director'])['revenue'].sum().sort_values(ascending=False)
display(grouped_by_director)
answers['13'] = 'Peter Jackson'

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 997, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [83]:
data_actions = data_withot_split[data_withot_split.genres.str.contains('Action')]
display(data_actions['director'].explode().value_counts())
answers['14'] = 'Robert Rodriguez'

Paul W.S. Anderson                                                                   7
Michael Bay                                                                          7
Ridley Scott                                                                         6
Antoine Fuqua                                                                        6
Robert Rodriguez                                                                     6
                                                                                    ..
Gareth Edwards                                                                       1
Jeff Tremaine                                                                        1
Andy Fickman                                                                         1
Robert Rodriguez|Eli Roth|Quentin Tarantino|Edgar Wright|Rob Zombie|Jason Eisener    1
Alister Grierson                                                                     1
Name: director, Length: 345, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [84]:
data_2012 = data[data.release_date.str.contains('2012')]
display(data_2012.explode('cast').groupby(['cast'])['revenue'].sum().sort_values(ascending=False))

answers['15'] = 'Chris Hemsworth'

cast
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Chris Evans          1519557910
Robert Downey Jr.    1519557910
                        ...
Jason Bateman           3428048
Danny Huston            2106557
Sami Gayle              2106557
Josh Lucas              2106557
Nicolas Cage            2106557
Name: revenue, Length: 466, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [85]:
data_big_budget = data[data['budget'] > data['budget'].mean()]
display(data_big_budget.explode('cast').groupby(['cast'])['original_title'].count().sort_values(ascending=False))

answers['16'] = 'Matt Damon'

cast
Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Eddie Murphy         15
Samuel L. Jackson    15
                     ..
Leslie Bibb           1
Leonard Nimoy         1
Lennie James          1
Lena Olin             1
50 Cent               1
Name: original_title, Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [86]:
data_NCage = data_withot_split[data_withot_split.cast.str.contains('Nicolas Cage')]
display(data_NCage.genres.apply(lambda x: x.split('|')).explode().value_counts())
answers['17'] = 'Action'

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Mystery             3
Animation           3
Family              3
History             2
War                 1
Horror              1
Romance             1
Name: genres, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [87]:
display(data[data.production_companies.str.contains('Paramount Pictures')].sort_values(by = 'profit').head(3))
# или так
pp_min_profit = data[data.production_companies.str.contains('Paramount Pictures')].profit.min()
display(data[(data.production_companies.str.contains('Paramount Pictures')) & (data.profit == pp_min_profit)])
answers['18'] = 'K-19: The Widowmaker (tt0267626)'

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
925,tt0267626,100000000,35168966,K-19: The Widowmaker,"[Harrison Ford, Liam Neeson, Peter Sarsgaard, ...",[Kathryn Bigelow],Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,"[Thriller, Drama, History]",Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034,7
1123,tt0300556,80000000,19480739,Timeline,"[Paul Walker, Frances O'Connor, Gerard Butler,...",[Richard Donner],They had to travel into the past to save the f...,A group of archaeological students become trap...,116,"[Action, Adventure, Science Fiction]",Paramount Pictures|Donners' Company|Mutual Fil...,11/26/2003,5.1,2003,-60519261,11
1722,tt0435705,70000000,18211013,Next,"[Nicolas Cage, Julianne Moore, Jessica Biel, T...",[Lee Tamahori],"If you can see the future, you can save it.",Las Vegas showroom magician Cris Johnson has a...,96,"[Action, Science Fiction, Thriller]",Paramount Pictures|Virtual Studios|Revolution ...,4/24/2007,5.9,2007,-51788987,4

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
925,tt0267626,100000000,35168966,K-19: The Widowmaker,"[Harrison Ford, Liam Neeson, Peter Sarsgaard, ...",[Kathryn Bigelow],Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,"[Thriller, Drama, History]",Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034,7

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [88]:
print(data.groupby(['release_year']).revenue.sum().sort_values(ascending=False))
answers['19'] = '2015'

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [89]:
print(data[data.production_companies.str.contains('Warner Bros')].groupby(['release_year']).
      revenue.sum().sort_values(ascending=False))
answers['20'] = '2014'

release_year
2014    3243064519
2007    3183675217
2008    3050595031
2010    3008712985
2011    2845393682
2003    2745493377
2009    2737954136
2004    2731933725
2013    2599953400
2005    2412980298
2001    2266545668
2012    1869520056
2002    1702709901
2015    1691168351
2006    1521170743
2000    1025531386
Name: revenue, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [90]:
display(data.groupby(['month']).original_title.count().sort_values(ascending=False))
answers['21'] = ' 9 - сентябрь'

month
9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: original_title, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [91]:
display(data[data.month.isin(['6', '7', '8'])].original_title.count())
answers['22'] = '450'

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [92]:
display(data[data.month.isin(['12', '1', '2'])].explode('director').groupby(['director'])['original_title'].count().sort_values(ascending=False))
# или так display(data[data.month.isin(['12', '1', '2'])].director.value_counts())

answers['23'] = 'Peter Jackson'

director
Peter Jackson            7
Steven Soderbergh        6
Clint Eastwood           6
Martin Scorsese          4
Adam Shankman            4
                        ..
Matt Bettinelli-Olpin    1
Matt Reeves              1
Matthew O'Callaghan      1
Matthew Vaughn           1
Jon Avnet                1
Name: original_title, Length: 358, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [93]:
data['length_tittle'] = data.original_title.apply(lambda x: len(x))
data['production_companies_split'] = data.production_companies.apply(lambda x: x.split('|'))

display(data.explode('production_companies_split').groupby(['production_companies_split']).length_tittle.mean().sort_values(ascending=False))
# или
display(data.sort_values(by = 'length_tittle', ascending=False).head(3))
answers['24'] = 'Four By Two Productions'

production_companies_split
Four By Two Productions       83.0
Jim Henson Company, The       59.0
Dos Corazones                 47.0
Museum Canada Productions     46.0
Polsky Films                  46.0
                              ...
Everest Entertainment          3.0
Berlanti Productions           3.0
XM2 Productions                2.0
Ixtlan Productions             2.0
Global Entertainment Group     2.0
Name: length_tittle, Length: 1771, dtype: float64

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,length_tittle,production_companies_split
1448,tt0443453,18000000,261572744,Borat: Cultural Learnings of America for Make ...,"[Sacha Baron Cohen, Ken Davitian, Luenell, Pam...",[Larry Charles],"Come to Kazakhstan, it's nice!",Kazakh journalist Borat Sagdiyev travels to Am...,82,[Comedy],Twentieth Century Fox Film Corporation|Four By...,11/2/2006,6.4,2006,243572744,11,83,"[Twentieth Century Fox Film Corporation, Four ..."
1314,tt0363771,180000000,748806957,"The Chronicles of Narnia: The Lion, the Witch ...","[William Moseley, Anna Popplewell, Skandar Key...",[Andrew Adamson],Evil Has Reigned For 100 Years...,"Siblings Lucy, Edmund, Susan and Peter step th...",143,"[Adventure, Family, Fantasy]",Walt Disney|Walden Media,12/7/2005,6.5,2005,568806957,12,62,"[Walt Disney, Walden Media]"
219,tt1698641,28000000,100654149,"Alexander and the Terrible, Horrible, No Good,...","[Steve Carell, Jennifer Garner, Ed Oxenbould, ...",[Miguel Arteta],One day can change everything.,Alexander's day begins with gum stuck in his h...,81,"[Family, Comedy]",Walt Disney Pictures|21 Laps Entertainment|Jim...,10/8/2014,6.2,2014,72654149,10,59,"[Walt Disney Pictures, 21 Laps Entertainment, ..."

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [94]:
data['len_overview'] = data.overview.apply(lambda x: x.split(' ')).apply(lambda x: len(x))

display(data.explode('production_companies_split').groupby(['production_companies_split']).len_overview.mean().sort_values(ascending=False))
# или
display(data.sort_values(by = 'len_overview', ascending=False).head(3))
answers['25'] = 'Midnight Picture Show'

production_companies_split
Midnight Picture Show                    175.0
Room 9 Entertainment                     161.0
Heineken Branded Entertainment           161.0
98 MPH Productions                       159.0
Brookwell-McNamara Entertainment         156.0
                                         ...
London Boulevard                          13.0
Phantom Four                              13.0
Henceforth                                13.0
Empire Pictures                           11.0
Motion Picture Corporation of America     11.0
Name: len_overview, Length: 1771, dtype: float64

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,length_tittle,production_companies_split,len_overview
711,tt0805570,15000000,3533227,The Midnight Meat Train,"[Bradley Cooper, Vinnie Jones, Brooke Shields,...",[RyÃ»hei Kitamura],The most terrifying ride you'll ever take,The photographer Leon lives with his girlfrien...,98,"[Mystery, Drama, Crime, Thriller, Horror]",Lions Gate Films|Lakeshore Entertainment|Green...,8/7/2008,5.7,2008,-11466773,8,23,"[Lions Gate Films, Lakeshore Entertainment, Gr...",175
170,tt1267297,100000000,243400000,Hercules,"[Dwayne Johnson, Ian McShane, John Hurt, Rufus...",[Brett Ratner],"Before he was a legend, he was a man.","Fourteen hundred years ago, a tormented soul w...",99,"[Action, Adventure]",Paramount Pictures|Metro-Goldwyn-Mayer (MGM)|R...,7/23/2014,5.6,2014,143400000,7,8,"[Paramount Pictures, Metro-Goldwyn-Mayer (MGM)...",169
964,tt0278295,14000000,25482931,All About the Benjamins,"[Ice Cube, Mike Epps, Tommy Flanagan, Carmen C...",[Kevin Bray],Money can make people do funny things.,Bucum Jackson (Cube) is a bounty hunter with a...,95,"[Action, Adventure, Comedy]",New Line Cinema,3/8/2002,6.4,2002,11482931,3,23,[New Line Cinema],166

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [95]:
data_99 = data['vote_average'].quantile(0.99) # граница квартиля 99%
display(data[data['vote_average']>data_99]['original_title'])

answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [96]:
data['pairs'] = data.cast.apply(lambda x: list(combinations(x,2)))
display(Counter(data.explode('pairs')['pairs']).most_common(5))

answers['27'] = 'Daniel Radcliffe & Rupert Grint'

[(('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Rupert Grint', 'Emma Watson'), 7),
 (('Ben Stiller', 'Owen Wilson'), 6),
 (('Johnny Depp', 'Helena Bonham Carter'), 6)]

# Submission

In [97]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': ' 9 - сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [98]:
# и убедиться что ни чего не пропустил)
len(answers)

27